<mat-card class="mb-25 tagus-card">
    <mat-card-content>
        <nav>
            <ul class="ps-0 mt-0">
                <li>
                    <a routerLink="/account" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Account</a>
                </li>
                <li>
                    <a routerLink="/user-mangement" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Users</a>
                </li>
                <li>
                    <a routerLink="/role-mangement" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Roles</a>
                </li>

            </ul>
        </nav>
        <mat-card-header class="d-block">
            <div class="row control-box justify-content-between">
                <div class="col-lg-5">
                    <div class="search-box">
                        <app-search-box (searchChange)="onSearchChanged($event)"
                            placeholder="{{'roles.management.Search' | translate}}"></app-search-box>
                    </div>
                </div>
                <div class="col-lg-7 text-end">
                    <button *ngIf="canManageRoles" mat-flat-button class="default-btn tagus" (click)="newRole()">
                        <i class="ri-add-fill"></i>{{'roles.management.NewRole' | translate}}
                    </button>
                </div>
            </div>
        </mat-card-header>

        <div class="myTasksTable mat-elevation-z8 tagus-mat-table">
            <table mat-table [dataSource]="dataSource">
                <!-- Task Name Column -->
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef class="text-start">#</th>
                    <td mat-cell *matCellDef="let element" class="text-start">
                        <div class="d-flex align-items-center name-info">
                            <a routerLink="/task-details">
                                {{element.index}}
                            </a>
                        </div>
                    </td>
                </ng-container>

                <!-- Deadline Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ 'roles.management.Name' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>
                <!-- Deadline Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>{{ 'roles.management.Description' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>

                <!-- Completion Column -->
                <ng-container matColumnDef="usersCount">
                    <th mat-header-cell *matHeaderCellDef>{{ 'roles.management.Users' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{element.usersCount}}</td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="canManageRoles">
                            <button type="button" mat-button
                                class="position-relative dot-btn p-0 bg-transparent border-none"
                                [matMenuTriggerFor]="actionMenu">
                                <i class="ri-more-fill"></i>
                            </button>
                            <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">

                                <button mat-menu-item type="button" (click)="editRole(element)"
                                    class="bg-transparent border-none position-relative">
                                    <i class="ri-edit-line"></i> Edit
                                </button>
                                <button mat-menu-item type="button" (click)="deleteRole(element)"
                                    class="bg-transparent border-none position-relative">
                                    <i class="ri-delete-bin-line"></i> Remove
                                </button>
                            </mat-menu>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<!-- Define other ng-templates for other columns -->
<ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <a *ngIf="canManageRoles" class="btn btn-link text-link btn-sm" href="javascript:;" (click)="editRole(row)"><i
            class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'roles.management.Edit' | translate}}</a>
    <a *ngIf="!canManageRoles" class="btn btn-link text-link btn-sm" href="javascript:;" (click)="editRole(row)"><i
            class="fa fa-eye" aria-hidden="true"></i> {{'roles.management.Details' | translate}}</a>
    {{canManageRoles ? '|' : ''}}
    <a *ngIf="canManageRoles" class="btn btn-link text-link btn-sm" href="javascript:;" (click)="deleteRole(row)"><i
            class="fa fa-trash-o" aria-hidden="true"></i> {{'roles.management.Delete' | translate}}</a>
</ng-template>

<ng-template #editorModal let-modal>
    <div class="modal-header">
        <h4 *ngIf="!canManageRoles" class="modal-title"><i class="fa fa-shield"></i> {{'roles.management.RoleDetails' |
            translate:editingRoleName}}</h4>
        <h4 *ngIf="canManageRoles" class="modal-title"><i class="fa fa-shield"></i> {{editingRoleName ?
            ('roles.management.EditRole' | translate:editingRoleName) : ('roles.management.NewRole' | translate)}}</h4>
        <button type="button" class="btn-close fs-sm" title="Close" (click)="modal.close()" tabindex="-1"></button>
    </div>
    <div class="modal-body">
        <app-role-editor #roleEditor (afterOnInit)="setRoleEditorComponent($event)"></app-role-editor>
    </div>
</ng-template>